<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Gophr</title>
  <link rel="stylesheet" href="../../assets/css/bootstrap.css">
</head>
<body>
  {{ define "index/navbar" }}
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Gophr</a>
        </div>
        <div class="collapse navbar-collapse">
          <div class="navbar-text navbar-right">
            <a href="/login" class="navbar-link">Login</a>
            <a href="/signup" class="navbar-link">Signup</a>
          </div>
        </div>
      </div>
    </nav>
  {{ end }}
</body>
</html>